<%= form_with model: @entity, url: "/users/#{current_user.id}/entities" do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-normal">
    <div class="control has-icons-left">
      <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "input", placeholder: "Group Name" %>
      <span class="icon is-small is-left">
        <i class="fas fa-object-group"></i>
      </span>
    </div>
  </div>

  <div class="field has-addons">
    <p class="control">
      <a class="button is-static"> $ </a>
    </p>
    <div class="control">
      <%= form.number_field :amount, autocomplete: "amount", class: "input", placeholder: "Amount" %>
    </div>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
