<div id="<%= dom_id group %>">
  <div class="card">
    <div class="card_content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="<%= group.icon%>" alt="Group icon">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= group.name %></p>
          <p class="subtitle is-6"><i class="fas fa-user"></i> <%= group.user_id %></p> 
          <p class="subtitle is-6"><%= link_to "Show this group", user_group_path(current_user.id, group.id) %></p> 
        </div>
      </div>
    </div>
  </div>

  <br />
  

</div>
