<nav class="navbar is-link " role="navigation" arial-label="main navigation">
    <div class="navbar-brand columns is-flex is-mobile is-fullwidth  ">
        <div class="navbar-item column  is-justify-content-center is-one-quarter">
            <%= link_to groups_path do %>
                <p class="is-fluid">
                <i class="fa-solid fa-arrow-left has-text-white "></i>
                </p>
            <% end %>
        </div>

        <div class="navbar-item column is-two-quarters is-justify-content-center">
            <h1 >Category</h1>
        </div>

        <div class="navbar-item column is-justify-content-center is-one-quarter">
          <div class="buttons">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-primary " %> 
          </div>
        </div>
    </div>  
</nav>

<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @group %>">
  <div class="card equal-height">
    <div class="card_content">
      <div class="media">
        <div class="card-image has-text-centered">

          <figure class="image is-64x64 is-inline-block">
            <img class="image is-squared is-64x64" src="<%= @group.icon%>" alt="Group icon">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= @group.name %></p>  
          <p class="subtitle is-6"><strong>Total: </strong><i class="fa fa-dollar"></i><%= @entities.sum(:amount) %> </p>  
        </div>
      </div>
    </div>
  </div>
<br />
</div>

<div>
  <% if can? :manage, @group%>
  <%= button_to "Delete Category", "/groups/#{@group.id}",
   :method=>:delete, :data=>{turbo:false}, class: "button is-danger is-fullwidth" %>
  <%= link_to "Edit Category", edit_group_path(@group), class: "button is-info is-fullwidth" %>
  <%= link_to "Add New Transaction", new_entity_path , class: "button is-primary is-fullwidth" %>
  <% end %>
</div>

<br />
<h3 class="title is-4">Transactions</h3>

<%= render "/entities/entity" %>
