<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @group %>">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="<%= @group.icon %>" alt="Group icon">
      </figure>
    </div>
    <div class="card_content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="<%= @group.icon%>" alt="Group icon">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= @group.name %></p>
          <p class="subtitle is-6"><i class="fas fa-user"></i> <%= @group.user_id %></p>  
        </div>
      </div>
    </div>
  </div>
<br />
</div>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>
  <%= button_to "Delete this group", "/groups/#{@group.id}",
   :method=>:delete, :data=>{turbo:false}, class: "button is-danger" %> 
</div>
